<head>
    <title>
        Inspectify-Landing-Page
    </title>
</head>

<body>
    <header>
        <div id="Topbar">
            <h1>Inspectify</h1>
            <nav class="links">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </nav>
        </div>
        <div class="search-UI">
            <form id="search-bar">
                <label for="filter">Filter</label>
                <select name="filter" id="filter">
                    <option value="borough">Borough</option>
                    <option value="cuisine">Cuisine</option>
                    <option value="grade">Grade</option>
                </select>
                <label for="filter_text">Search Restaurant</label>
                <input type="text" id="filter_text" name="filter_text">
                <button type="submit" name="submit_button" id="submit_button">Search</button>
            </form>
        </div>
    </header>

    <main>
        <div id="landing_page_images"></div>
    </main>

    <footer>
        <div id="base_footer">
            <p>@ 2025 Inspectify</p>
        </div>
    </footer>

</body>