<body>
    <form>
        <label for="login_username_input">Enter Username:</label>
        <input type="text" name="username" id="login_username_input">
        <label for="login_password_input">Enter Password:</label>
        <input type="text" name="password" id="login_password_input">
        <button type="submit">Login</button>
    </form>
{{#unless registrationCompleted}}
    <a id="signuplink" href="/signup">Register Here</a>
{{/unless}}
</body>