<main>
    <form id="signin-form" method="POST" action="/login">
        <p class="error" id="signin-error">{{#if error}}{{error}}{{/if}}</p>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <button type="submit" name="submit_button" id="submit_button">Submit</button>
    </form>
    <a id="register" href="/register">Click here to signup!</a>
</main>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="/public/js/login&Register.js"></script>