<head>
    <title>
        Inspectify-{{restaurant.name}}-Review
    </title>
</head>

<body>
    <header>
        <h2>Review Writing Form</h2>
    </header>
    <main>
        <form id="reviewForm" method="POST">
            <label for="rating">Rating:</label>
            <div class="star-rating">
                <input type="radio" name="rating" id="star5" value="5" required>
                <label for="star5">★</label>
                <input type="radio" name="rating" id="star4" value="4">
                <label for="star4">★</label>
                <input type="radio" name="rating" id="star3" value="3">
                <label for="star3">★</label>
                <input type="radio" name="rating" id="star2" value="2">
                <label for="star2">★</label>
                <input type="radio" name="rating" id="star1" value="1">
                <label for="star1">★</label>
            </div>
            <label for="Review-Title">Title:</label>
            <input type="text" name="Review-Title" id="Review-Title" required>
            <label for="Review-Body">Review:</label>
            <textarea name="Review-Body" id="Review-Body" required></textarea>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>