<head>
    <title>
        Inspectify-{{restaurant.name}}-Review
    </title>
</head>

<body>
    <header>
        <h2>Review Writing Form</h2>
    </header>
    <main>
        <form id="reviewForm" method="POST">
            <label for="rating">Rating:</label>
            <select name="rating" id="rating" required>
            <option value="">Choose rating</option>
            <option value="5">5 - Excellent</option>
            <option value="4">4 - Good</option>
            <option value="3">3 - Okay</option>
            <option value="2">2 - Poor</option>
            <option value="1">1 - Bad</option>
        </select>
            <label for="Review-Title">Title:</label>
            <input type="text" name="Review-Title" id="Review-Title" required>
            <label for="Review-text">Review:</label>
            <input type="text" name="Review-Title" id="Review-Title" required>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>