<head>
    <title>
        Inspectify-Search-Result
    </title>
</head>

<body>
    <header>
        <h1>Search results for Restaurant</h1>
        <div id="search-filters"></div>
    </header>

    <main>
        <div id="restaurant-cards"></div>
        <div class="pagination" id="pagination"> 
		<a href="#" id="prev">Previous</a> 
		<span id="page-buttons"></span>
		<a href="#" id="next">Next</a> 
		<p id="page-numbers"> </p> 
	</div> 
    </main>
</body>