<body>
    <header>
        <h1>Search results for 
            {{#if filter.name}}
                {{filter.name}} 
            {{else}}
                Restaurant
            {{/if}}
            </h1>
        <div id="search-filters"></div>
    </header>

    <main>
        <div id="restaurant-cards"></div>
        <div class="pagination" id="pagination"> 
		<a href="#" id="prev">Previous</a> 
		<span id="page-buttons"></span>
		<a href="#" id="next">Next</a> 
		<p id="page-numbers"> </p> 
	    </div> 
    </main>
    <footer>
        <div id="base_footer">
            <p>@ 2025 Inspectify</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/public/js/search_results.js"></script>
</body>