<body>
    <form>
        <label for="username">Enter Username:</label>
        <input type="text" name="username" id="register_username_input" required>
        <label for="register_email_input">Enter Email:</label>
        <input type="email" name="email" id="register_email_input" required>
        <label for="register_password_input">Enter Password:</label>
        <input type="password" name="password" id="register_password_input">
        <label for="register_lastName_input">Enter Last Name:</label>
        <input type="text" name="profile[lastName]" id="register_lastName_input">
        <label for="register_firstName_input">Enter First Name:</label>
        <input type="text" name="profile[firstName]" id="register_firstName_input">
        <label for="register_dob_input">Enter Date Of Birth:</label>
        <input type="date" name="profile[dob]" id="register_dob_input">
        <button type="submit">Register</button>
    </form>
<a id="loginlink" href="login.handlebars">Already An User? Login Here</a>
</body>